@import "@/styles/variables.scss";

.navigation {
  width: 100%;
  height: calc($index * 3);
  display: flex;
  align-items: center;
  padding: 0 5vw;

  @media(max-width: 600px) {
    height: calc($index * 5);
    position: fixed;
    top: 0;
    z-index: 10;
    background: #fafafa;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .col {
      display: flex;

      .logo {
        h1 {
          color: #333;
        }
      }

      ul {
        display: flex;
        align-items: center;
        margin-right: 10vw;

        li {
          color: #333;

          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        @media(max-width: 600px) {
          display: none;
        }
      }

      .language {
        display: flex;
        align-items: center;

        h4 {
          color: #333;
          font-weight: 500;
        }

        @media(max-width: 600px) {
          display: none;
        }
      }

      .menu {
        display: none;

        svg {
          font-size: calc($index * 3);
          display: flex;
          align-items: center;
        }

        @media(max-width: 600px) {
          display: block;
        }
      }
    }
  }

  .mobile {
    display: none;
  }
}

.active {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: #fafafa;
  z-index: 10;
  top: 0;
  padding: 0 5vw;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc($index * 5);
    align-items: center;

    .col {
      display: flex;

      .logo {
        h1 {
          color: #333;
        }
      }

      ul {
        display: none;
      }

      .language {
        display: none;
      }

      .menu {
        svg {
          font-size: calc($index * 3);
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;

    li {
      font-size: calc($index * 2);
      color: #333;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}